.responsive {

 max-height: 200px;
 min-height: 200px;
 max-width: 200px;
 min-width: 200px;
}
 .card {

   padding: 10px;
   margin: 10px 10px 10px 10px;

 }

 a {
   text-decoration: none;
 }


 input {
   width: 300px;
 }

 .filter{
   margin-right: 5px;
 }

 a {
   cursor: pointer;
 }
