<div class="container">
<div class ="jumbotron jumbotron-fluid ">
  <h1 class = "display-4">Pokedex!</h1>
  <p class="lead"> The one stop to learn everything you need to know about your favourite pokemons!
    Let's go see what the world of Pokemon has to offer!
  <p><a class="btn btn-success btn-lg" href="pokemon"> Let's Go!</a></p>
  </div>
</div>
<img src ='http://getwallpapers.com/wallpaper/full/2/a/2/1100544-pokeball-background-1920x1200-for-1080p.jpg'
alt="Pokeball on side" class = responsive>
